# Logs
*.log

# Java
*.class

*.jar
*.war
*.ear

.mtj.tmp/
hs_err_pid*

# Runtime data
*.pid
*.seed

# for text editors
*.*~

# nbproject for netbeans
**/nbproject/
**/node_modules/

# for idea
*.iml
**/.idea/
**/target/

# for visual studio
*.njsproj
**/*.sln
**/.vs/
**/.ntvs_analysis.dat
**/obj/Debug

# Bower
**/bower_components

# Mac Folder Structure
**/.DS_Store
